<div class="lifehacks">
    <h2>Outdoor and Cooking Life Hacks</h2>
    <div class="tab" role="tablist">
        <button class="tablinks active" onclick="openHack(event, 'Outdoor')">Outdoor</button>
        <button class="tablinks" onclick="openHack(event, 'Cooking')">Cooking</button>
    </div>

    <div id="Outdoor" class="tabcontent">
        <div *ngIf="hacks">
            <div *ngFor="let h of hacks" class="outer-div">
                <button class="accordion" >{{ h.id }}: {{ h.title }}</button>
                <div class="panel">
                    <div><p class="font-bolder">Description: </p>{{ h.description }}</div>
                    <div><p class="font-bolder">Date Posted: </p>{{ h.datePosted }}</div>
                    <div><p class="font-bolder">Category: </p>{{ h.category }}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="Cooking" class="tabcontent" style="display: none;">
        <div *ngIf="cookhacks">
            <div *ngFor="let h of cookhacks" class="outer-div">
                <button class="accordion">{{ h.id }}: {{ h.title }}</button>
                <div class="panel">
                    <div><p class="font-bolder">Description: </p>{{ h.description }}</div>
                    <div><p class="font-bolder">Date Posted: </p>{{ h.datePosted }}</div>
                    <div><p class="font-bolder">Category: </p>{{ h.category }}</div>
                </div>
            </div>
        </div>
    </div>
</div>