<!-- <div *ngFor="let b of beauty">
{{b.title}}
</div> -->

<h2>Beauty & Indoor Hacks</h2>
<div class="yeganehHackTab">
  <button class="tablinks" onclick="openHackY(event,'Beauty')">Beauty</button>
  <button class="tablinks" onclick="openHackY(event,'Indoor')">Indoor</button>
</div>


<div class="beautycomp">
  <div *ngIf="beauty" class="tabcontent">
    <div *ngFor="let b of beauty" id="beauty" class="panelContaitner">
      <h3>{{b.title}}</h3>
      <p class="description">{{b.description}}</p>
    </div>
  </div>
</div>

<div class="indoorcomp">
<div *ngIf="indoor" class="tabcontent">
  <div *ngFor="let b of indoor" id="indoor"  class="panelContaitner">
    <h3>{{b.title}}</h3>
    <p class="description">{{b.description}}</p>
  </div>
</div>
</div>






<!-- <div *ngFor="let b of beauty" class="tabcontent">
  <h3>{{b.title}}</h3>
</div> -->

<!-- <li id="{{planets[0].id}}">{{planets[0].name}}</li> -->
<!-- {{planets[0].id}}">{{planets[0].name}} -->