.yegComp{
    /* margin: 15px auto; */
    font-family: 'Lato', sans-serif;
    color:#00537b;
/*    border-bottom:2px solid #00537b;*/
    padding:0.5em;
    padding-bottom:2em;
    width:48%;
    float:left;

}

h2{
    color: #00537b;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    
}


.yeganehHackTab{
font-family: 'Lato', sans-serif;
overflow: hidden;
background-color: #fff;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;

}

.yeganehHackTab button{
    padding:14px 80px;
    float: left;
    font-size: 17px;
    color: #00537b;
    border: 1px solid #00537b;
    margin: 1px;
    background-color:#fff;
    
}


.yeganehHackTab button:hover {
    background-color: #00537b;
    color: #fff;
}

.yeganehHackTab button.active {
    background-color: #00537b;
    color: #fff;
}


.panelContaitner{
    display: none;
    border-top: none;       
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    text-align: left;
    padding: 18px;
    margin: 0px;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
}

.description{
    border: 1px solid #ccc;
    padding: 18px;
    margin: 0px;
   
}

.hackDetail{
    padding: 10px;
    /* border: 1px solid #ccc; */
    padding: 5px;
 
}

.hackDetail p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    /* margin-top: 0px; */
    
}

h3:hover{
    color: #fff;
    background-color: #00537b;
}


    

.subtext{
    color:#00537b;
    font-weight:bolder;
    font-size: 16px;
    text-decoration:underline;
    padding-right:3px;
    
}




